# Div PHP Control example
RewriteEngine On

# Pass all requests not referring directly
# to files in the filesystem to index.php.

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^((?s).*)$ index.php?_url=/$1 [QSA,L]